<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{#if meta.title}}
    <title>{{meta.title}}</title>
    <meta property="og:title" content="{{meta.title}}" />
    <meta name="twitter:title" content="{{meta.title}}" />
    <meta name="description" content="{{meta.description}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta name="twitter:description" content="{{meta.description}}" />
    {{else}}
    {{#if page}}
    <title>{{config.name}} - Page: {{page}}</title>
    <meta property="og:title" content="{{config.name}} - Page: {{page}}" />
    <meta name="twitter:title" content="{{config.name}} - Page: {{page}}" />
    <meta name="description" content="{{config.name}} - Page: {{page}}" />
    <meta property="og:description" content="{{config.name}} - Page: {{page}}" />
    <meta name="twitter:description" content="{{config.name}} - Page: {{page}}" />
    {{/if}}
    {{#if tag}}
    <title>{{config.name}} - Tag: {{tag}}</title>
    <meta property="og:title" content="{{config.name}} - Tag: {{tag}}" />
    <meta name="twitter:title" content="{{config.name}} - Tag: {{tag}}" />
    <meta name="description" content="{{config.name}} - Posts containing tag: {{tag}}" />
    <meta property="og:description" content="{{config.name}} - Posts containing tag: {{tag}}" />
    <meta name="twitter:description" content="{{config.name}} - Posts containing tag: {{tag}}" />
    {{/if}}
    {{/if}}
    <link rel="canonical" href="{{meta.url}}" />
    <link rel="icon" type="image/png" href="{{config.baseUrl}}/content/images/favicon.png" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:site_name" content="{{config.name}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{meta.url}}" />
    {{#if meta.image}}
    <meta name="twitter:image" content="{{meta.image}}" />
    <meta property="og:image" content="{{meta.image}}" />
    {{else}}
    <meta name="twitter:image" content="{{config.baseUrl}}/content/images/squido-social.png" />
    <meta property="og:image" content="{{config.baseUrl}}/content/images/squido-social.png" />
    {{/if}}
    {{#if config.twitterHandle}}
    <meta name="twitter:site" content="{{config.twitterHandle}}" />
    <meta name="twitter:creator" content="{{config.twitterHandle}}" />
    {{/if}}
    {{#if config.facebookApp}}
    <meta property="fb:app_id" content="{{config.facebookApp}}" />
    {{/if}}
    <link rel="alternate" type="application/rss+xml" href="{{config.baseUrl}}/rss" />
    <link rel="alternate" type="application/atom+xml" href="{{config.baseUrl}}/atom" />
    <link rel="alternate" type="application/json" href="{{config.baseUrl}}/json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/content/stylesheets/style{{config.fileEnv}}.css">
    <link rel="stylesheet" href="/content/stylesheets/syntax{{config.fileEnv}}.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js" integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FlexSearch/0.6.22/flexsearch.min.js" integrity="sha512-KxRyF5OGyocY7+bOecICRkukb/F8P8yFO/86j3TZ8zxzL5nieFBJFFk0sd5aj387UfSOcSan4FJ86+ydH50nsw==" crossorigin="anonymous"></script>
    <script src="/content/javascripts/searchdata.js"></script>
    <script src="/content/javascripts/site{{config.fileEnv}}.js"></script>
    <meta name="google-site-verification" content="VRUmulyJTSQAk3Lm2xSNlu4kDy9L7jCi6qNZoBh1tMw" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7038832-48"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-7038832-48');
    </script>
  </head>
  <body>
    <header class="navbar navbar-light bg-light flex-md-nowrap p-0 border-bottom">
      <a href="/" class="navbar-brand d-flex align-items-center mb-2 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/content/images/squido.svg" alt="squido logo" width="60" height="60" class="d-inline-block align-text-top">
        <span class="fs-4 brand">squido docs</span>
      </a>
      <ul class="nav nav-pills p-1">
        <li class="nav-item p-2">
          <a href="#" class="nav-link btn-outline-secondary d-block d-sm-none" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list mb-1" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item p-2 d-none d-sm-block"><a href="/" class="nav-link btn-outline-secondary">Home</a></li>
        <li class="nav-item p-2 d-none d-sm-block"><a href="https://blog.squido.org/" target="_blank" class="nav-link btn-outline-secondary">Blog</a></li>
        <li class="nav-item p-2 d-none d-sm-block"><a class="nav-link btn-outline-secondary" target="_blank" href="https://www.facebook.com/squido.org"><i class="lni lni-facebook-original"></i></a></li>
        <li class="nav-item p-2 d-none d-sm-block"><a class="nav-link btn-outline-secondary" target="_blank" href="https://twitter.com/squido_app"><i class="lni lni-twitter-filled"></i></a></li>
        <li class="nav-item p-2 d-none d-sm-block"><a target="_blank" href="https://github.com/mrvautin/squido" class="nav-link btn-outline-secondary"><i class="lni lni-github-original"></i> Github</a></li>
      </ul>
    </header>
    <div class="container-fluid">
      {{{body}}}
    </div>
  </body>
</html>